/* Global */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: lightgray;
  }
  header, nav, main, footer {
    padding: 1rem;
  }
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  /* Medium*/
  @media (min-width: 600px) {
    nav ul { display: flex; gap: 1rem; }
    main { background: yellow; }
  }
  
  /* Large*/
  @media (min-width: 900px) {
    body { max-width: 900px; margin: auto; }
    h1 { font-size: 3rem; }
    main { background: blue; }
  }
  
  /* Extra */
  @media (min-width: 1200px) {
    main { background: red; }
  }
  